
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Needed for ConnectivityManager, at least -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="true">
        <service android:name=".HumlaService"
                 android:exported="true">
            <intent-filter>
                <action android:name="se.lublin.humla.ACTION_CONNECT"/>
                <action android:name="se.lublin.humla.ACTION_DISCONNECT"/>
            </intent-filter>
        </service>
    </application>

</manifest>
